<head>
	<meta name="description" content="Discover a wide range of products at the best prices. Shop now and get exclusive offers.">
  </head>
  

<body>
	<div id="page">
		<div id="body" class="home">
			<div class="header">
				<img src="images/bg-home.WebP" alt="">
				<div>
					<a [routerLink]="['/product']">Freeze Delight</a>
				</div>
			</div>
			<div class="body">
				<div>
					<div>
						<h1>NEW PRODUCT</h1>
						<h2>The Twist of Healthy Yogurt</h2>
						<p>This website template has been designed by freewebsitetemplates.com for you, for free. You can replace all this text with your own text.</p>
					</div>
					<img _ngcontent-ng-c2943693858="" src="images/yogurt.WebP" alt="Yogurt" style="width: 300px; height: auto;">
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<a [routerLink]="['/product']" class="product"><h1>PRODUCTS</h1></a>
							
						</li>
						<li>
							<a [routerLink]="['/about']" class="about"><h1>OUR STORY</h1></a>
							
						</li>
						<li>
							<a [routerLink]="['/product']" class="flavor"><h1>FLAVORS</h1></a>
							
						</li>
						<li>
							<a [routerLink]="['/contact']" class="contact"> <h1>OUR LOCATION</h1></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>